@charset 'utf-8';

/*Reset样式 公共样式*/
body, button, input, select, textarea { font: 12px/1.5 '微软雅黑', 'Helvetica', 'sans-serif'; }
body, div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr { margin: 0; padding: 0; }
table, tr, td { border-spacing: 0; border-collapse: collapse; border: 0; }
address, caption, cite, code, dfn, em, strong, th, var { font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5 { font-size: 100%; font-weight: normal; }
ol, ul { list-style: none; }
li { list-style: none outside none; }
fieldset, img, a img { border: 0 none; }
caption, th { text-align: left; }
abbr, acronym { border: 0; }
textarea { resize: none; }
abbr, acronym { font-variant: normal; border: 0 none; }
a { text-decoration: none; color: #00349a; outline-style: none; }
a:hover { text-decoration: underline; color: #ff4901; }
.clearfix:after { font-size: 0; display: block; visibility: hidden; clear: both; height: 0; content: '.'; }
.clear { clear: both; *overflow: hidden; *zoom: 1; }
.text-overflow { overflow: hidden;    /*display:block;*/ width: 100%; text-overflow: clip; word-break: keep-all; }
.text-overflow-li { overflow: hidden; text-overflow: clip; word-break: keep-all; }
.text-ellipsis { overflow: hidden; white-space: nowrap; /*设置不折行*/ text-overflow: ellipsis; -o-text-overflow: ellipsis; /*兼容opera*/ }
.fl { float: left; }
.fr { float: right; }
.em { text-indent: 2em;}
